<%- include('../partials/header') %> 
<a href="/">Add a Skill</a>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
                <%= s.skill %>
                    -
                    <%= s.done ? 'done' : 'not done' %>
            </li>
            <% }); %>
    </ul>
<%- include('../partials/footer') %> 
    